{% extends 'user_layout.html' %}

{% block content %}

    <div class="container">
        <div style="margin-bottom: 10px">
            <div>
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="搜索...">
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                搜索一下
                            </button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>

        </div>


        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                文献列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>题名</th>
                    <th>作者</th>
                    <th>来源</th>
                    <th>发表时间</th>
                    <th>上传者</th>
                    <th>文献</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>

                        <th>{{ obj.id }}</th>
                        <td>{{ obj.title }}</td>
                        <td>{{ obj.author }}</td>
                        <td>{{ obj.source }}</td>
                        <td>{{ obj.create_time|date:"Y-m-d" }}</td>
                        <td>{{ obj.uploader }}</td>
                        <td>
                            <a href="/{{ obj.filepath }}" target="_blank">查看文献</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <ul class="pagination">
            {{ page_string }}
        </ul>

    </div>
{% endblock %}